<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LCSFoundationKit OS X.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>LCSFoundationKit iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>LCSFoundationKitTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>59009D9D19A1C513007C3314</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59009DA719A1C514007C3314</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5966410B1998CF830064E4DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>596641221998CF830064E4DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59A59FFE19A1C2D00007666E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59A5A00B19A1C2D00007666E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
